table, th, td {
  border: 1px solid;
  background-color: white;
  color:black
}

#main-container{
  display: flex;
  flex-direction: column;
  align-items: center;   
  margin-top: 20px;
  background-color: orange;
  border: 2px solid black;
  border-radius: 12px;
  padding: 25px 30px;
  width: fit-content;
  margin: 40px auto; 
}

h2, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

canvas{
    width: 200px;
    height: 400px;
}

select{
    margin-bottom:20px;
}

.button-22 {
  margin-top:20px;
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out, background.13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}


