body{
    background-color: lightblue;
}

nav{
    background-color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5px;
}

nav li{
    display:inline-block;
    position: relative;
    margin-left: 100px;
    margin-right: 100px; 
}

nav li:hover{
    background-color: blue;
    color:white;
}   

a {
color:white;
text-decoration: none;
}

h1{
    text-align: center;
    font-family: monospace;
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}