table, th, td {
  border: 1px solid;
  background-color: white;
  color:black
}

#main-container{
  display: flex;
  flex-direction: column;
  align-items: center;   
  margin-top: 20px;
  background-color: yellowgreen;
  border: 2px solid black;
  border-radius: 12px;
  padding: 25px 30px;
  width: fit-content;
  margin: 40px auto; 
}

h2, h3{
    font-family:cursive;
}

canvas{
    width: 200px;
    height: 400px;
}

.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
  margin-bottom: 20px;
}




