#main-container{
  display: flex;
  flex-direction: column;
  align-items: center;   
  margin-top: 20px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 12px;
  padding: 25px 30px;
  width: fit-content;
  margin: 40px auto; 
}

#main_heading{
    font-family: 'Courier New', Courier, monospace;
    color: red
}